<!DOCTYPE html>
<html>
    <head>
        <title>Vue App</title>
        <script src="https://unpkg.com/vue@2.1.10"></script>
        <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="color in colors" v-if="!color.primary">{{color.text}}</li>
            </ul>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    colors: [
                        {
                            text: 'red',
                            primary: true
                        },
                        {
                            text: 'blue',
                            primary: true
                        },
                        {
                            text: 'green',
                            primary: false
                        },
                        {
                            text: 'yellow',
                            primary: true
                        },
                        {
                            text: 'orange',
                            primary: false
                        },
                        {
                            text: 'purple',
                            primary: false
                        },
                    ]
                }
            })
        </script>
    </body>
</html>
